*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.side_bar ul li{
    /*position: relative;*/
    height: 50px;
    width: 100%;
    /*margin: 0 5px;*/
    list-style: none;
    line-height: 50px;
    border-bottom: 1px solid white;
}
.side_bar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;  
    transition: all 0.4s ease;
    /*border-radius: 12px;*/
      
}
.side_bar ul li a:hover{
    color: #11101d;
    background: #fff;
}
.side_bar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.side_bar .shop_books{
    position: absolute;
    color: #fff;
    bottom: 72px;
}
.side_bar .shop_books a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;  
    transition: all 0.4s ease;
    border-radius: 12px;
}
.side_bar .shop_books a: hover{
    color: #11101d;
    background: #fff;
}
nav{
    display: flex;
    width: 100%;
    /*height: 60px;*/
    background: #11101d;
    /*box-shadow: 0 10px 150x rgba(0,0,0,0.1);*/
    position: relative;
    /*justify-content: space-between;*/
    text-align: center;
    padding: 15px 25px;
}

nav .side_bar{
    position: fixed;
    height: 100%;
    width: 250px;
    margin-top: 50px;
    left: 0%;
    color: ;
    font-size: 20px;
    background: #11101d;
    padding: 8px;
    /*position: relative;*/
    cursor: pointer;
    /*z-index: 1;*/
}
nav #togglebtn{
    position: absolute;
    color: #fff;
    right: 75%;
    top: 17px;
    left: 5%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
nav .side_bar ul{    
    margin-left: 0;
    margin-top: 20px;
}
nav .icon{
    position: absolute;
    height: 100%;
    width: calc(100% - 240);
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    /*position: relative;*/
    left: 250px;
}
nav .list{
    position: relative;
    left: 1050px;
}
nav .list ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
    /*display: flex;
    list-style: none;
    margin: auto 0;*/
}
nav .list ul li{
    /*margin: 0 2px;*/
    position: relative;
    list-style: none;
    display: inline-block;
    border-bottom: 1px solid white;
}
nav .list ul li a{
    display: block;  
    padding: 0px 15px;  
    color: #fff;    
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
    /*text-transform: capitalize;
    letter-spacing: 1px;*/
    
}
nav .list ul li a:hover{
    background: #243342;
}
nav .list ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav .list ul li:hover > ul{
    display: block;
}
nav .list ul ul li{
    background: #11101d;
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    right: 90px;
}
nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    position: relative;
    left: 550px;
}
nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 300px;        
}
nav .search_box i{
    color: ;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    /*position: relative;*/
    cursor: pointer;
    z-index: 1;
}
nav .search_box i:hover{
   color: #fff;
}
nav .search_box i::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #ff003c;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}
nav .search_box i:hover::after{
   width: 11%;
}